.Cart {
    
    position: fixed;
    width: 30vw;
    height: 650px;
    top: 50%; 
    left: 70vw; 
    transform: translateY(-50%);
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(5, 5, 5, 0.1); 
    border-radius: 8px; 
    background-color: rgb(242, 245, 248);
    overflow-y: scroll;
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: rgba(12, 12, 12, 0.5);
    /* backdrop-filter: blur(2px); */
    z-index: 999;
  }
  
.cart-upper{
    display:flex;
    justify-content: space-between ;
    font-size: 18px;
    padding: 12px;
    font-weight: 500;
    align-items:center;
    /* width: 100%; */
    background-color: white;
    height: 40px;
}
.cart-remove{
    cursor: pointer;
}
.clock{
    background-color: rgb(240, 238, 238);
    padding: 10px;
    border-radius: 5px;
    color: green;
}

.cart-delivery-time{
    display:flex;
    gap: 25px;
    align-items: center ;
    margin:30px 25px;
}
.cart-delivery-time p{
    font-size: 13px;
    color: rgb(132, 132, 133);
}
.cart-product-added{
    display: flex;
    /* justify-content: space-between; */
    margin: 10px 25px;
    gap: 10px;
    align-items: center;
}
.cart-delivery-add{
    background-color: white;
    margin: 12px;
    border-radius: 20px;
    padding: 10px;
    
}

.cart-product-added img{
    height: 80px;
    width:80px;
    margin-right: 10px;
    cursor: pointer;
    object-fit: cover;
    border: 1px solid rgb(202, 200, 200);
    border-radius:5px ;
    padding: 2px; 
 } 
.name-price-quantity{
 display: flex;
 flex-direction: column;
 align-items: start;

}
.cart-title{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
    color: black;
}
.cart-quantity{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(83, 83, 83);
}
.cart-price{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(7, 7, 7);
}

.cart-title, .cart-quantity, .cart-price {
    margin: 0;
    padding: 1;
}
.cart-quantity-btn{
    display: flex;
    gap: 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    background-color: green;
    padding: 10px;
    color: white;
    width:50px;
    align-items: center;
    height: 10px;
    border-radius:4px  ;
    /* margin-left:20px; */

}
.cart-total  {
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 10px;
    justify-content: space-between;

}
.delivery-charges {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}
.handling-charges{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}
.infoIcon{
    font-size: 14px !important;
    color: rgb(85, 84, 84);
    cursor: pointer;
    font-weight: 100 !important;
}
.cart-icons{
    font-size:15px !important; 
}
.bill-details{
    /* display: flex;
    flex-direction: column; */
    background-color:white;
    align-items:start;
    margin:15px;
    padding: 25px;
    font-size: 12px;
    border-radius:20px ;
}
.cart-icon-title{
    display: flex;
    gap:9px;
}
.cart-cancellation{
    background-color:white;
    align-items:start;
    margin:15px;
    padding: 25px;
    font-size: 12px;
    display: flex;  
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

.cart-grandTotal{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 10px;
    justify-content: space-between;
}